.about{
    height: 30rem;
    width: 100%;
    background-color: var(--primary-color);
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 5%;
}
.about .about-container{
    display: flex;
    flex-direction: row;
    gap: 10%;
    height: 20rem;
    width: 100%;
    padding: 5%;
    justify-content: center;
    align-items: center;

     }
.about .about-container .picture{
    height: 25rem;
    width: 30rem;
    overflow: hidden;
    background-color: var(--secondary-color);
    border-radius: 50% 50% 80%;
}
.about .about-container .picture:hover{
    border-radius: var(--blob-border-radius-hover);
}
.about .about-container .picture img{
    height:70%;
    width: 25%;
    margin-left: 3%;
    position: absolute;
    margin-bottom: -10rem;
    margin-top: -3%;
 }
.about .about-container .content{
    width: 30rem;
    height: 25rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.about .about-container .content .heading{
    color: var(--color-white);
    font-size: 3rem;
    text-shadow: var(--text-shadow);
    font-weight: 600;
}
.about .about-container .content .heading::after{
    position: absolute;
    content: '';
    height: 3.4rem;
    margin-left: 3px;
    width: 2px;
    background-color: var(--secondary-color);
}
.about .about-container .content .heading span{
    color: var(--secondary-color);
}
.about .about-container .content P{
    color: var(--color-white);
    font-family: sans-serif;
    font-size: 20px;
    width: 100%;
    letter-spacing: 1px;
    height: auto;
}
.about .about-container .content P::before{
    position: absolute;
    content: '';
    height: 15rem;
    margin-left: -2rem;
    width: 1px;
    background-color: var(--secondary-color);
}
.about .about-container .content button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 8rem;
    background-color: transparent;
   color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    cursor: pointer;
}
.about .about-container .content button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: var(--transition);
}
