.home{
    width: 100%;
    background-color:var(--primary-color);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
  }
  .head{
    display: flex;
    width: 100%;
    height: 2rem;
    justify-content: space-between;
    position: fixed;
  }
  .navigator{
    color: white;
    border-radius: 50%;
    width: 1.8rem;
    border: 2px solid var(--color-white);
    margin-left: 5%;
    overflow: hidden;
  }
  .navigator p{
    position: relative;
    margin-top: 10%;
    margin-left: 30%;
  }
  .container{
    display: flex;
    width: 90%;
    height: 70%;
    gap: 2rem;
    padding-top: 5%;
    padding-left: 10rem;
  }
  .container .icons{
    height: 50%;
    width: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
    margin-top: 7%;
    margin-left:7%;
    margin-right: 2%;
  }
  .container .icons img{
   width: 1rem;
   height: 1rem;
   cursor: pointer;
  }
  .container .icons img:hover{
    transform: scale(1.3);
    transition: 300ms ease;
  }
  .container .intro{
    width: 30%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .intro .holder{
    display: flex;
    flex-direction: column;
    
  }
  .container .intro .holder .heading{
   font-size: 2rem;
   font-weight: 800;
   margin-bottom: 0px;
   color: var(--color-white);
  }
  .container .intro .holder .heading span{
    color: var(--secondary-color);
   text-shadow: var(--text-shadow);;
  }
  .container .intro .holder .info{
    font-size: 1.4rem;
    color: var(--secondary-color);
    text-shadow: var(--text-shadow);
    font-weight: 500;
    margin-bottom: 1.8rem;
  }
  .container .intro .holder .skills{
    width: 100%;
    gap: 1rem;
    height: 1.4rem;
    display: flex;
    flex-direction: row;
    gap: 15%;
    margin-bottom: 4rem;
  
  }
  .container .intro .holder .skills .skill-img{
    height: 100%;
    width: 1.4rem;
  }
  .container .intro .holder .button-holder{
    display: flex;
    gap: 2rem;
  }
  .container .intro .holder button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 8rem;
    background-color: transparent;
   color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    cursor: pointer;
  }
  .container .intro .holder button:hover{
    border: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transition: var(--transition);  
}
  .container .picture{
    width: 22rem;
    height: 23rem;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background-color: var(--secondary-color);
    border-radius: var(--blob-border-radius);
  }
  .container .picture:hover{
    transition:border-radius var(--transition);  
    border-radius:var(--blob-border-radius-hover); 
  }
  .container .picture img{
    height: 100%;
    margin-left: 20%;
  }
  .container .picture img:hover{
    transform: scale(0.9);
    transition: 500ms ease;
  }
  .container .scroll a{
    color: var(--secondary-color);
    margin-top: 20rem;
    margin-left: 5rem;
    display: flex;
    transform: rotate(90deg);
    text-decoration: none;
  }
  .home .navbar-holder{
    width: 100%;
    height: 8%;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .home .navbar-holder .navbar{
    width: 30rem;
    height: 8%;
    border-radius: 2rem;
    background-color: var(--navbar-bgcolor);
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 10%;
    padding-left: 1rem;
    padding-bottom: 2px;
    position: fixed;
  }
  .home .navbar-holder .navbar .holder{
    margin-top: 10px;
     height: 2.5rem;
     width: 4rem;
     border-radius: 50%;
     object-fit: cover;
  }
  .home .navbar-holder .navbar .holder:hover{
    background-color: var(--navbar-bgcolor-hover);
  }
  .home .navbar-holder .navbar .holder a img{
    height: 50%;
    width: 50%;
    margin-left: .5rem;
    margin-top: .5rem;
  }

  /*responsive web-design*/
  @media screen and (max-width: 1179px){
    .home{
      height: 120vh;
    }
    .container .picture{
      margin-top: -2%;
    }
    .container .picture img{
       transform: translateX(-20px);
    }
    .container{
      margin-left: -30%;
    }
    .container .scroll{
      display: none;
    }
  }
  @media  screen and (min-width: 1024px){
    .home{
      height: 100vh;
    }
    .navbar-holder .navbar{
      overflow-y: hidden;
    }
    .container{
      margin-left: .01%;
    }
    
  }

  @media screen and (max-width: 989px){
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: -30%;
      gap: 2%;
    }
    .container .picture{
      transform: translate(-50%);
    }
    .container .intro{
      width: 100%;
      transform: translateX(-18%);
    }
  .container .icons{
    display:block;
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-right: 20rem;
    height:3rem;
    margin-bottom: -5%;
    margin-top: -8%;
    gap: 3rem;
    transform: translateY(800%);
  }
  .container .picture{
    width: 18rem;
  }

}
@media screen and (max-width: 768px){
  .container .picture{
    margin-top: 4rem;
    height: 27rem;
  }
  .container{
    margin-left: 1%;
  }
  .container .intro{
    overflow-y: hidden;
  }
  .home{
    height: 100vh;
  }
  .container .intro .holder{
    overflow-y: hidden;
    
  }
  .container .intro .holder .heading{
    height: 8rem;
    overflow-y: hidden;
    font-size: 1.6rem;
    text-align: center;
  }
  .container .intro .holder .info{
    height: 6rem;
    overflow-y: hidden;
    text-align: center;
  }
  .container .icons{
    margin-left: 3rem;
  }
  .container .intro .holder .skills{
    height: 4rem;
    margin-left: 3rem;
  }
  .container .intro .holder .button-holder{
    margin-top: -12%;
    height: 6rem;
  }
  .container .intro .holder .button-holder button{
    overflow-y: hidden;
  }
}
@media screen and (max-width: 761px) {
  .home{
    justify-content: center;
    align-items: center;
  }
  .container .intro{
    transform: translateX(6%);
  }
  .container .intro button{
  margin-bottom: 5rem
  }
  .container .picture{
    transform: translateX(10%);
  }
  .container .icons{
   margin-left: 50%
  }
  
 }
 
  
